.places {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    color: white;
    gap: 80px;
    max-width: 984px;
    padding-top: 92px;
    margin: 0 auto;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .places {
        max-width: 928px;
    }
}
@media screen and (max-width: 992px) {
    .places {
        max-width: 720px;
        padding-top: 88px;
        gap: 73px;
    }
}
@media screen and (max-width: 740px) {
    .places {
        max-width: 320px;
        padding-top: 64px;
        gap: 50px;
    }
}