.places__image {
    max-width: 460px;
    aspect-ratio: 1/1;
}
@media screen and (max-width: 1200px) {
    .places__image {
        max-width: 440px;
    }
}
@media screen and (max-width: 992px) {
    .places__image {
        max-width: 340px;
    }
}
@media screen and (max-width: 740px) {
    .places__image {
        max-width: 320px;
    }
}