.lead {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .lead {
        max-width: 90.625%;
        padding-top: 48px;
    }
}
@media screen and (max-width: 992px) {
    .lead {
        max-width: 100%;
    }
}