.lead {
    display: flex;
    flex-direction: column;
}
.lead__container {
    max-width: 1280px;
    min-height: 1005px;
    margin: 0 auto;
    padding: 56px 148px 0px 148px;
    box-sizing: border-box;
}
.lead__title {
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    align-self: center;
    text-align: center;
}
.lead__subtitle { 
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
    max-width: 640px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    align-self: center;
    text-align: center;
}
.lead__lead-polka {
    width: 100%;
}
.lead__caption {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
}