.header {
    display: flex;
    justify-content: space-between; 
    margin-top: 28px;
    margin-bottom: 56px;
    background-color: aqua;
}
.header__container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 48px;
}
.logo {
    max-width: 176px;
    max-height: 52px;
    margin: 0;
}
.header__lang-links {
    display: flex;
    justify-content: space-between;
}
.header__lang-link {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
    padding-bottom: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.header__lang-link_language_ru {
    padding-right: 18px;
}
.header__lang-link_language_en {
    text-decoration: none;
}
