.header {
    display: flex;
    justify-content: space-between; 
}
.header__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 28px 48px 0px 48px;
    box-sizing: border-box;
}
.logo {
    max-width: 176px;
    min-height: 52px;
}
.header__lang-links {
    display: flex;
    justify-content: space-between;
}
.header__lang-link {
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.header__lang-link_language_ru {
    padding-right: 18px;
}
.header__lang-link_language_en {
    text-decoration: none;
}