.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px){
    .header {
        max-width: 90.625%;
    }
}
@media screen and (max-width: 992px){
    .header {
        max-width: 93.75%;
    }
}
@media screen and (max-width: 425px){
    .header {
        max-width: 90%;
        padding-top: 16px;
    }
}