.cover {
    background-image: url(../../images/cover/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    max-width: 1184px;
    aspect-ratio: 1184/740;
    margin: 92px auto 0 auto;
}
@media screen and (max-width: 576px) {
    .cover {
        margin-top: 66px;
    }
}