.footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    color: white;
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .footer {
        max-width: 928px;
    }
}
@media screen and (max-width: 922px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
    }
}
@media screen and (max-width: 740px) {
    .footer {
        max-width: 288px;
        padding-top: 64px;
        padding-right: 102px;
        flex-direction: column;
    }
}
